!!!Doctype
%html
  %head
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
  %body
    .container
      .row
        .span12
          %h1
            Tasks
      .row
        .span3
          - if user_signed_in?
            = link_to 'Logout', destroy_user_session_path, :method => :delete
        .span9
          .flash
            - if flash[:notice]
              %p.notice=flash[:notice]
            - if flash[:alert]
              %p.alert=flash[:alert]
            
          = yield